<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-45359239-3', 'auto');
  ga('send', 'pageview');
</script>

<ion-view title="Company Booth Layout">
<!-- Floorplan Hilton Orrington-->
  <!--ion-content-->
    
    <ion-scroll zooming="true" direction="xy" style="width: 100%; height: 100%; padding-top: 50px;">

<!--Interactive Illustrator SVG using AngularJS:(tooltips)
 http://plnkr.co/edit/0LLUKB9iyzmL9aiMfcRX?p=preview -->


    <!-- {{startX - 20}} {{startY - 200}} {{mapWidth + 200}} {{mapHeight + 20}}" -->



<svg xmlns="http://www.w3.org/2000/svg" 
xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" 
preserveAspectRatio="xMinYMin meet" 
viewBox="{{startX}} {{startY}} {{mapWidth}} {{mapHeight}}">

<g id="ballroom">
<title> Hilton Orrington Grand Ballroom </title>
  <text x="535"  y="-75" class="roomTitle"> Grand Ballroom </text>
  
  <path class="roomOutline"  
        d="
        M 200,10
        l 1040,0
        l 0,900
        l -855,0
        l -72, -35
        l -48, 100
        l -135, -75
        l 65, -105
        l 0,-785
        z" />
  <g transform="translate(215, 850)" \>
  <g transform="rotate(30,0,0)">
    <text class="bNum" x="30" y="30"> Entrance </text>
  </g>
  </g>
  <!-- not exactly sure what this square is, on map from tech expo was a yellow box -->
   <g transform="translate(460, 660)">
    <rect class="pillar" x="0" y="0" width="60" height="60"></rect>
    <text class="bNum" x="30" y="30"> Pillar </text>
  </g>
</g><!--/#ballroom -->


<g id="heritage" transform="translate(250, 1200)">
  <title> Hilton Orrington Heritage Room </title>
  <text x="235"  y="-100" class="roomTitle"> Heritage Room </text>
  <path class="roomOutline"
        d="
        M 0,0
        l 865,0
        l 0,595
        l -140,0
        l 0,25
        l-120,0
        l 0,-25
        l -605, 0
        z" />
    <g transform="translate(635, 575)" \>
    <text class="bNum" x="30" y="30"> Entrance </text>
  </g>
</g><!--/#heritage -->

<g>

      
      <!-- ng-click="go('iday/companies/{{b.compId}}')" -->
    <g ng-repeat="b in booths | reverse" ng-click="tooltipIsVisible = !tooltipIsVisible">


    <g ng-attr-transform="translate({{b.x}}, {{b.y}})">


<g id="{{b.compId}}-tooltip" class="st18 tooltip" ng-show="tooltipIsVisible" ng-click="go('/companies/{{b.compId}}')">
<!-- possibly apply ng class to display favorites diff color? -->
        <path id="background"
              class="tooltip-bg" fill="#dff"
              d="
              M -35, -75
              L  90, -75
              L  90,-10 
              L  38,-10 
              L  30,-3 
              L  22,-10 
              L -35,-10 Z"></path>       
        <text x="-20" y="-30" class="tooltip-label"> Click for details </text>
        <image class="compLogo" 
             x="-30" y="-70"
             width="120" height="30"
             ng-xlink-href="http://lizzb.github.io/iday/www/img/logos/{{b.compId}}/wide.png" 
             xlink:href=""/>

      </g>


    <!-- need to add an ng-if rotate property exists to avoid plethora of errors in console -->
    <!-- apparently using ng if or ng switch inside ng repeat INSIDE svg is more complicated than i realized.... going to do easy/lame route of just assigning a rotate value to every booth 
ng-attr-transform="rotateBooth({{b.rotate}});"> also tried rotate(rroratebooth(b.rotate), 0, 0)
didn't try casting i guess
    --><!-- ({{b.rotate}},0,0)-->

    <!-- this still throws errors in console, but it does exactly what i want so... shrug -->
    <g ng-attr-transform="rotate({{b.rotate}},0,0)">
        <rect class="booth" ng-attr-id="{{b.compId}}"
              x="0" y="0"
              ng-attr-width="{{bWidth}}" ng-attr-height="{{bHeight}}"/>
      
      <!-- below format shows
            itty bitty square logo in top left corner, 
            booth number centered in middle,
            and company id at bottom of booth, some of which are long and uggo -->
      <!--
      <image class="compLogo" 
             x="2" y="2"
             width="20" height="20"
             ng-xlink-href="http://lizzb.github.io/iday/www/img/logos/{{b.compId}}/square.png" 
             xlink:href=""/>

          <text class="boothlabel boothId boothCompId"
            x="{{ bWidth/2 }}"
            y="{{ bHeight*3/4 }}">
            {{b.compId}}        
          </text>
          <text class="boothlabel compId boothNumId"
            ng-attr-x="{{bWidth/2 }}"
            ng-attr-y="{{bHeight/2 }}">
            {{b.bNum}}        
          </text>
        -->

        <!-- new format, larger logo image -->
        <image class="compLogo" 
             x="0" y="0"
             width="59" height="59"
             ng-xlink-href="http://lizzb.github.io/iday/www/img/logos/{{b.compId}}/square.png" 
             xlink:href="http://placehold.it/60x60"/>

          <!--text class="boothlabel boothId boothCompId"
            x="{{ bWidth/2 }}"
            y="{{ bHeight*3/4 }}">
            {{b.compId}}        
          </text-->
          <text class="boothlabel compId boothNumId" 
                ng-attr-x="{{bWidth + 15}}"
                ng-attr-y="{{bHeight - 5}}">
            {{b.bNum}}        
          </text>
          <style>
.booth{fill: white;}
          </style>

<!-- for lower left width-12 and height-8 looked good -->

      </g><!--/ transform - rotate --> 
    </g><!--/ transform - x y coordinates -->
</g> <!--/ b in booths -->
  
</svg>

<!--  ng-click="go('/companies/{{b.compId}}')" in rect doesnt work -->

    



<style>
.st5{fill:#5CC4BE;}
.st14{fill:#5CC4BE;fill-opacity:0;}
 //.dialog, .tooltip, .st18{display:none;}

  .st21{display:inline;}
  .st24{display:inline;fill:none;stroke:#DDDDDC;stroke-miterlimit:10;}
  .st25{fill:#5CC3BD;}


#row1, #closebutton {  cursor: pointer;  }
#closebutton {  opacity: .7;  }
#closebutton:hover {  opacity: 1;  }
#row1:hover #target {
  transition: fill-opacity 250ms ease;
  fill: #f9f9f9;
  fill-opacity: 1;
}

.close-button {/*st25*/}
.dialog-divider {/*st24*/} 
.tooltip-bg {display:inline;opacity:0.85;}
.close-label {font-family: Verdana; font-size: 10pt; } /*st0 */
.tooltip-label {font-family: arial; fill: hotpink; text-anchor: start;}
.dialog-title {font-family: Verdana;font-weight: bold;} /*st25*/ 

</style>




<label><input type="checkbox" ng-model="tooltipIsVisible"> tooltip is visible</label><br/>
<label><input type="checkbox" ng-model="dialogIsVisible"> dialog is visible</label><br/>

<svg version="1.1" id="mainview" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="587.5px" height="410px" viewBox="0 -17.5 587.5 410" style="enable-background:new 0 -17.5 587.5 410;" xml:space="preserve">

<g id="row1" ng-mouseenter="tooltipIsVisible = true"
             ng-mouseleave="tooltipIsVisible = false"
             ng-click="dialogIsVisible = true">


            <rect id="target" x="197" y="131" class="st14" width="339" height="72"></rect>
            <rect id="greenbox" x="328.761" y="149.618" class="st5" width="81.439" height="34.664"></rect>
            
            <!--text x="518" y="167"class="st4">7</text>
            <rect x="463" y="170.5" class="st7" width="62" height="6"></rect>
            <rect x="463" y="170.5" class="st8" width="47" height="6"></rect>
            <rect x="339" y="170.5" class="st15" width="62" height="6"></rect>
            <rect x="339" y="170.5" class="st16" width="54" height="6"></rect>
            <text x="395" y="165" class="st0" style="fill: white;">9</text-->      
        <!--g id="borders" ng-hide="true">
          <line class="st17" x1="48" y1="131" x2="536" y2="131"></line>
          <line class="st17" x1="197" y1="203" x2="536" y2="203"></line>
          <line class="st17" x1="197" y1="275" x2="536" y2="275"></line>
        </g-->
      </g> 
     


      
      <g id="tooltip" class="st18 tooltip" ng-show="tooltipIsVisible">
        <path id="background"
              class="tooltip-bg"
              d="
              M 303, 77
              L 437, 77
              L 437,135 
              L 376.5,135 
              L 370,143  
              L 363.5,135 
              L 303,135 Z"></path>       
        <text x="318" y="110" class="tooltip-label"> Click for details </text>
      </g>
      

      <g id="dialog" class="dialog st18" ng-show="dialogIsVisible">

  <rect class="notst23" x="118" y="85" height="213" width="350" fill="white" stroke="lime" rx="5" ry="5"/>
              
        <text x="138" y="117" class="st25 dialog-title">Maracuja details</text>
        
        <line class="st24 dialog-divider" x1="118.883" y1="140.512" x2="467.833" y2="140.512"></line>

        <g id="closebutton" class="st21" ng-click="dialogIsVisible = false">
              
          <!-- close button fill... removed enclosing g -->
 <rect  x="390" y="98" width="64.5" height="30" rx="4" ry="4" fill="black" class="st25 close-button"></rect>
            <!--path class="st25" d="M454.5,124.5c0,2.209-1.791,4-4,4h-57c-2.209,0-4-1.791-4-4v-23c0-2.209,1.791-4,4-4h57
        c2.209,0,4,1.791,4,4V124.5z"></path-->
          
          <text x="404" y="118" class="close-label st0">Close</text>
        </g>


        
        

</svg>



</ion-scroll>
    <!--/ion-content-->
    </ion-view>

