<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-45359239-3', 'auto');
  ga('send', 'pageview');
</script>

<ion-view title="Acknowledgements" left-buttons="leftButtons">
<ion-content padding="true">

  <h2 class="thanks">Thank you!</h2>

<hr>

<p>SWE Industry Day would not be possible without the extensive web of help and support generously given by many people. We would especially like to extend our thanks to the following groups and individuals:</p>

<ul>
	<li> Northwestern University Administration </li>
	<li>
		<a href="http://www.mccormick.northwestern.edu/about/leadership/profiles/worsdall-ellen.html" target="_blank"> Ellen Worsdall </a>
	</li>
	<li> Amanda Stasinski </li>
	<li> Dean Ottino </li>
	<li> Dean Carr </li>
	<li> Dean Oloroso </li>
	<li> Hilton Garden Inn Staff </li>
	<li>
		<a href="http://swe.mccormick.northwestern.edu/exec.html" target="_blank"> SWE Executive Board </a>
	</li>
	<li> Hostesses </li>
	<li> Volunteers </li>
	<li> Recruiters </li>
	<li> 
		<a href="http://www.mccormick.northwestern.edu/career-development" target="_blank"> McCormick Office of Career Development </a>
	</li>
	<li>
		<a href="http://www.northwestern.edu/careers/" target="_blank"> University Career Services </a>
	</li>
	<li> Industry Day Attendees </li>
</ul>

<hr>

<p>Every one played an important part in making SWE Industry Day 2014 such a successful event. </p>

<p>Thank you all, we couldn't have done it without you!</p>

<br><br><br><br>
<hr>
<div class="bar bar-footer bar-stable">
<p class="padding">
  <small>This <a href="www.github.com/nuwic/iday14" target="_blank">web app</a> was created with &#10084; by <strong><a target="_blank" href="http://www.linkedin.com/in/lizzbartos">lizz bartos</a></strong>.
  <!--[who is totally for hire, btw]-->
  </small></p>
  
</div>

<!--
<p class="padding">
  This <a href="www.github.com/nuwic/iday14" target="_blank">web app</a> was created with &#10084; <br>using AngularJS and the beautiful <a href="http://ionicframework.com/" target="_blank">Ionic Framework</a><br> by <strong><a target="_blank" href="http://www.linkedin.com/in/lizzbartos">lizz bartos</a></strong>
  </p>-->

</ion-content>
</ion-view>



